<html>
    <head>
        <title> Ansible-managed node</title>
    </head>
    <body>
        <h1>Ansible-managed node</h1>
        <p>This is an Ansible-managed node called {{ inventory_hostname }} at {{ ansible_default_ipv4.address }}.</p>
    </body>
</html>